@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Staatliches&family=Poppins&display=swap');

:root {
    --corpri1: #044700;
    --corsec: #00b40c;
    --corpri2: #3eeb4a;
}

body {
    background: var(--corpri1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #fff;
    width: 90%;
    max-width: 1200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    background: rgb(234, 234, 234);
    padding: 5px 10px;
    border-radius: 20px;
    height: 100%;
    box-shadow: 1px 2px 6px rgba(119, 119, 119, 0.1);
}

.search-box input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    background: rgb(234, 234, 234);
}

.bar_n {
    font-size: 40px;
    font-family: "Staatliches", sans-serif;
    display: flex;
}

.treinos {
    width: 80%;
    height: 100%;
    margin-top: 2vh;
    border-radius: 30px;
    background-color: #fff;
    padding: 30px 0;
}

.treinos .cima {
    text-align: center;
    font-family: "Staatliches", sans-serif;
}

.treinos .cima h1 {
    font-weight: 500;
    font-size: 40px;
    -webkit-mask-attachment: ;aa
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.circle {
    background-color: rgb(230, 230, 230);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, border 0.3s ease;
    cursor: pointer;
    border: 6px solid transparent;
}

.circle:hover {
    transform: scale(1.1);
}

.circle.active {
    border-color: var(--corsec);
}

.circle img {
    width: 50px;
    height: 50px;
}
